name: "Deployment"
permissions:
  contents: write
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy-to-gh-pages:
    name: Deploy to github pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setting up Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Installing Dependecies
        run: npm i --legacy-peer-deps
      - name: Comfiguring git
        run: |
          git config --global user.name '${{ github.repository_owner }}'
          git config --global user.email '${{ github.repository_owner }}@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | base64 --decode | gpg --import
          git config --global user.signingkey ${{ secrets.GPG_KEY_ID }}
          git config --global commit.gpgsign true
      - name: Deploy to Github pages
        run: |
          npm run build
          npm run deploy
